################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.vs/PAS
/backend/bin/Debug/net6.0
/backend/obj/Debug/net6.0
/backend/obj

/frontend/.vs/AvatarBabylon
/frontend/.vs/ProjectEvaluation
/frontend/bin/Debug/net6.0
/frontend/obj/Debug/net6.0
/frontend/bin/Release/net6.0
/frontend/obj/Release/net6.0
/frontend/obj
